<!DOCTYPE html>
<html lang="en" xmlsn:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add multipleChoice</title>
</head>
<body>
    <h1>Add New Question</h1>

    <form action="#" th:action="@{/savemultiplechoicequestion}" th:object="${newquestion}" method="post">
        <input type="hidden" name="queryid" th:value="${queryid}" />
        <p><input type="text" placeholder="Question" th:field="*{questionText}" /></p>
        <p><input type="submit" value="save" /></p>
    </form>
</body>
</html>