<!DOCTYPE html>
<html lang="en" xmlsn:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Querys</title>
</head>
<body>
    <h1>Querys</h1>

    <table>
        <tr>
            <th>Name</th>
        </tr>

        <tr th:each="query : ${queries}">
            <td th:text="${query.name}"></td>
            <td><button><a th:href="@{/showquery/{queryid}(queryid=${query.queryid})}">Show Query</a></button></td>
        </tr>
    </table>

    <a href="/addquery">Add New Query</a>
</body>
</html>