<!DOCTYPE html>
<html lang="en" xmlsn:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Querys</title>
</head>
<body>
    <h1>Querys</h1>

    <table>
        <tr>
            <th>Name</th>
        </tr>
        <tr th:each="query : ${queries}">
            <td th:text="${query.name}"></td>
        </tr>

        <tr>
            <th>Description</th>
        </tr>
            <tr th:each="query : ${queries}">
                <td th:text="${query.desc}"></td>
        </tr>

        <tr>
            <th>Questions</th>
        </tr>
        
        <tr th:each="question : ${questions}">
            <td th:text="${question.question}"></td>
        </tr>
    </table>
    
    <a href="/queries">Back</a>
    <td><button><a th:href="@{/addquestiontoquery/{queryid}(queryid=${queryid})}">Add Question</a></button></td>



</body>
</html>