<!DOCTYPE html>
<html lang="en" xmlsn:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add New Query</h1>

    <form action="#" th:action="@{/savequestion}" th:object="${newquestion}" method="post">
        <p><input type="text" th:field="${newquestion.question}" /></p>
        <p><input type="submit" value="save" /></p>
    </form>

    <a href="/queries">Back</a>
</body>
</html>